.input-group {
  display: flex;
  flex-direction: column;
  margin: $m-size 0;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $l-size;
  }
}

.input-group div:first-child {
  width: 100%;
  .text-input {
    width: 80%;
  }
  @media (min-width: $desktop-breakpoint) {
    width: 70%;
  }
}

.input-group__item {
  margin-bottom: $m-size;

  span {
    height: 46px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
  }

  @media (min-width: $desktop-breakpoint) {
    margin: $m-size 0 0 0;
  }
}